{% extends "master.html" %}

{% block title %}My Tennis Club - Details about {{ mymember.firstname}} {{ mymember.lastname}} {% endblock title %}

{% block content %}
<div class="card mt2">
    
    <div class="card-header">
        <h1>{{mymember.firstname}} {{mymember.lastname}}</h1>
    </div>
    
    <div class="card-body">
        <p>Phone: {{mymember.phone}}</p>
        <p>Member since: {{mymember.joined_date}}</p>

        <p>Back to <a href="/members">Members</a></p>
    </div>

</div>
{% endblock %}